<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">

        function addCart() {
            let itemId    = [[${item.id}]];
            let itemName  = [[${item.itemName}]];
            let itemPrice = [[${item.price}]];
            let itemStock = [[${item.stock}]];
            let count     = document.getElementById("count").value;

            if (count > itemStock) {
                document.getElementById("problem").innerText = "재고 수량보다 많이 설정할 수 없습니다.";
                document.getElementById("problem").hidden = false;

                return;
            }

            const data = {
                id : itemId,
                itemName : itemName,
                price : itemPrice,
                stock : itemStock,
                count : count
            };

            $.ajax({
                type: "post",
                url: "/cart/add",
                contentType: "application/json; charset=UTF-8",
                data: JSON.stringify(data),
                async : true,
                success: function() {
                    alert("장바구니에 담았습니다.");
                    document.getElementById("problem").hidden = true;
                },
                error: function(jqXHR) {
                    if (jqXHR.status == '401') {
                        alert("로그인 페이지로 이동합니다.");
                        location.href='/member/login';
                    }
                },
            });
        }
    </script>

</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .input-group {
            margin-bottom : 15px
        }

        #problem {
            color: red;
        }
    </style>
</th:block>

<div layout:fragment="content">

    <form role="form" method="post" th:object="${item}">

        <p class="h2" style="text-align: center" th:text="*{itemName}">

        </p>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">상품명</span>
            </div>
            <input type="text" class="form-control" th:field="*{itemName}" readonly>
        </div>

        <div class="form-group">
            <select th:field="*{itemType}" class="custom-select" disabled>
                <option value="FOOD" th:selected="${item.itemType} == ${item.itemType.FOOD}">음식</option>
                <option value="SNACK" th:selected="${item.itemType} == ${item.itemType.SNACK}">과자</option>
                <option value="ICE" th:selected="${item.itemType} == ${item.itemType.ICE}">냉동</option>
                <option value="DRINK" th:selected="${item.itemType} == ${item.itemType.DRINK}">음료</option>
                <option value="GOODS" th:selected="${item.itemType} == ${item.itemType.GOODS}">상품</option>
            </select>
        </div>

        <div class="form-group">
            <select th:field="*{itemStatus}" class="custom-select" disabled>
                <option value="SELL" th:selected="${item.itemStatus} == ${item.itemStatus.SELL}">판매중</option>
                <option value="SOLD_OUT" th:selected="${item.itemStatus} == ${item.itemStatus.SOLD_OUT}">매진</option>
                <option value="RECEIVING" th:selected="${item.itemStatus} == ${item.itemStatus.RECEIVING}">입고중</option>
                <option value="STOP_SELL" th:selected="${item.itemStatus} == ${item.itemStatus.STOP_SELL}">판매중지</option>
            </select>
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">가격</span>
            </div>
            <input type="number" th:field="*{price}" class="form-control" placeholder="상품의 가격을 입력해주세요" readonly>
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">재고</span>
            </div>

            <input type="number" th:field="*{stock}" class="form-control" placeholder="재고 수량을 입력해주세요" readonly>
        </div>

        <div style="text-align: center">
            <div th:if="*{itemStatus == itemStatus.SELL}">
                <label sec:authorize="!hasAuthority('ADMIN')" th:for="count">수량</label>
                <input sec:authorize="!hasAuthority('ADMIN')" type="number" class="form-control" name="count" id="count" placeholder="수량"
                       min="1" th:max="*{stock}" onkeyup="if(value < 0) value = 1;" value="1" style="width: 100px; margin: auto">

                <button sec:authorize="!hasAuthority('ADMIN')" type="button" class="btn btn-primary" onclick="addCart()" style="margin-top: 10px">장바구니</button>
                <button sec:authorize="!hasAuthority('ADMIN')" type="button" class="btn btn-primary" onclick="" style="margin-top: 10px">주문</button>
                <p id = "problem" hidden>
            </div>
            <button sec:authorize="hasAuthority('ADMIN')" type="button" class="btn btn-primary" th:onclick="|location.href='@{/admin/item/{id}/edit(id=${item.id})}'|" style="margin-top: 10px">수정</button>
            <button th:onclick="|location.href='@{/item/list}'|" type="button" class="btn btn-primary" style="margin-top: 10px">취소</button>
        </div>

    </form>

</div>

</html>