<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">

        function checkDuplicated() {
            const email = $("#member_email").val();
            const data = {
                email : email
            };

            $.ajax({
                type : "post",
                async : false,
                url : "/member/checkEmail",
                data : data,
                success : function (res) {

                    if(res == true) {
                        $("#isDuplicated").text("이메일 중복입니다. 다른 이메일을 사용해주세요.");
                        $("#isDuplicated").css("display", "");
                    } else {
                        $("#isDuplicated").text("사용 가능한 이메일입니다.");
                        $("#isDuplicated").css("display", "");
                    }

                }
            });
        }

    </script>

</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .form-control {
            heigth : 30px;
            font-size: 15px;
            margin-left: 100px;
        }

        .checkDuplicate {
            margin-top: 10px;
            margin-left: 100px;
        }

        .isDuplicated {
            margin-top: 10px;
            margin-left: 100px;
        }

        label {
            margin-top: 10px;
            margin-left: 100px;
        }
    </style>
</th:block>

<div layout:fragment="content">

    <div class="py-5 text-center">
        <h2>회원가입</h2>
    </div>

    <form action="/member/signup" role="form" method="post" th:object="${member}">
        <div class="form-group">
            <label th:for="email">이메일</label>
            <input type="email" th:field="*{email}" class="form-control" placeholder="이메일을 입력해주세요" style="width: 300px">
            <button type="button" id="checkDuplicate" class="checkDuplicate" aria-label="checkDuplicated" onclick="checkDuplicated()">중복확인</button>
                <span id="isDuplicated" class="isDuplicated" style="display: none"></span>
        </div>
        <div class="form-group">
            <label th:for="password">비밀번호</label>
            <input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력해주세요" style="width: 200px">
        </div>
        <div class="form-group">
            <label th:for="passwordConfirm">비밀번호 확인</label>
            <input type="password" th:field="*{passwordConfirm}" class="form-control" placeholder="비밀번호를 다시 한 번 입력해주세요" style="width: 200px">
        </div>
        <div class="form-group">
            <label th:for="name">이름</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력해주세요" style="width: 100px">
        </div>
        <div class="form-group">
            <label th:for="phoneNumber">핸드폰 번호</label>
            <input type="text" th:field="*{phoneNumber}" class="form-control" placeholder="핸드폰 번호를 입력해주세요" style="width: 200px">
        </div>
        <div class="form-group">
            <label th:for="address">주소</label>
            <input type="text" th:field="*{address}" class="form-control" placeholder="주소를 입력해주세요" style="width: 100px">
        </div>
        <div class="form-group">
            <label th:for="zipCode">우편번호</label>
            <input type="text" th:field="*{zipCode}" class="form-control" placeholder="우편번호를 입력해주세요" style="width: 100px">
        </div>
        <div style="text-align: center">
            <button type="submit" class="btn btn-primary" style="">회원가입</button>
        </div>
    </form>

</div>

</html>