<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>

    <script th:inline="javascript">

        let isDuplicate = true;
        let isAuth = false;

        let mytimer;
        let time = 180000; // 60 * 3 * 1000;
        let min = 3; //3분
        let sec = 60; //60초

        $(document).ready(function () {
            $("#showPassword").on("click", function () {
                const passwordField = $("#password");
                const passwordType = passwordField.attr("type");

                if (passwordType == "password") {
                    passwordField.attr("type", "text");
                } else {
                    passwordField.attr("type", "password");
                }
            });

            $("#showPasswordConfirm").on("click", function () {
                const passwordField = $("#passwordConfirm");
                const passwordType = passwordField.attr("type");

                if (passwordType == "password") {
                    passwordField.attr("type", "text");
                } else {
                    passwordField.attr("type", "password");
                }
            });
        });

        function confirmPassword() {

            let password = $("#password").val();
            let passwordConfirm = $("#passwordConfirm").val();

            if (password != passwordConfirm) {
                $("#anotherPassword").css("display", "block");
                $("#anotherPassword").text("비밀번호가 다릅니다.");
                document.getElementById("auth").disabled = true;
                document.getElementById("signup").disabled = true;
            } else if (isDuplicate == false && password == passwordConfirm) {
                $("#anotherPassword").css("display", "none");
                document.getElementById("auth").disabled = false;
                document.getElementById("signup").disabled = false;
            } else if (isDuplicate == false && isAuth == true) {
                document.getElementById("auth").disabled = true;
                document.getElementById("signup").disabled = false;
            }
        }

        function changeEmail() {
            clearInterval(mytimer);
            $("#isDuplicated").css("display", "none");
            document.getElementById("auth").disabled = true;

            $("#authDiv").css("display", "none");
            document.getElementById("signup").disabled = true;
        }

        function checkDuplicated() {
            let regExp = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
            // const email = $("#email").val();
            const email = document.getElementById("email").value;

            if (!email) {
                $("#isDuplicated").text("이메일을 입력해주세요.");
                $("#isDuplicated").css("display", "block");
                return;
            }

            if (email.match(regExp) == null) {
                $("#isDuplicated").text("이메일을 형식으로 입력해주세요.");
                $("#isDuplicated").css("display", "block");
                return;
            }

            const data = {
                email: email
            };

            $.ajax({
                type: "post",
                url: "/member/checkEmail",
                contentType: "application/json; charset=UTF-8",
                data: JSON.stringify(data),
                success: function (res) {

                    if (res == true) {
                        $("#isDuplicated").text("이메일 중복입니다. 다른 이메일을 사용해주세요.");

                        isDuplicate = true;
                    } else {
                        $("#isDuplicated").text("사용 가능한 이메일입니다.");

                        let password = $("#password").val();
                        let passwordConfirm = $("#passwordConfirm").val();

                        if (!password || !passwordConfirm) {
                            document.getElementById("auth").disabled = true;
                        }

                        if (isDuplicate == false && password == passwordConfirm) {
                            document.getElementById("auth").disabled = false;
                            document.getElementById("signup").disabled = true;
                        }

                        isDuplicate = false;
                    }
                    $("#isDuplicated").css("display", "block");
                }
            });
        }

        function findAddress() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    let roadAddr = data.roadAddress; // 도로명 주소 변수
                    let extraRoadAddr = ''; // 참고 항목 변수

                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraRoadAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if (extraRoadAddr !== '') {
                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('zipCode').value = data.zonecode;
                    document.getElementById("address").value = roadAddr + extraRoadAddr;
                    document.getElementById("detailAddress").focus();
                }
            }).open();
        }

        function sendAuth() {
            const email = document.getElementById("email").value;

            const data = {
                email: email
            };

            $.ajax({
                type: "post",
                url: "/mail/sendAuth",
                contentType: "application/json; charset=UTF-8",
                data: JSON.stringify(data),
                success: function (res) {
                    document.getElementById("auth").disalbe = true;
                    callTimer();
                }
            });

        }

        function callTimer() {
            $("#authDiv").css("display", "block");
            mytimer = setInterval(timerFunction, 1000);
        }

        function reSend() {
            clearInterval(mytimer);
            document.getElementById("signup").disabled = true;
            isAuth = false;

            time = 180000;
            min = 3;
            sec = 60;

            $("#authCode").val("");

            if(isDuplicate == false) {
                alert("인증번호를 재전송하였습니다.");
                sendAuth();
            } else {
                alert("이메일 중복체크를 해주세요.");
            }
        }

        function timerFunction() {
            time = time - 1000; //1초씩 -
            min = time/(60 * 1000); //분

            if (sec > 0) {
                sec = sec - 1;

                if(sec.toString().length == 1) {
                    $("#timer").text("0" + Math.floor(min) + " : 0" + sec);
                } else {
                    $("#timer").text("0" + Math.floor(min) + " : " + sec);
                }
            }

            if (time == 0) {
                clearInterval(mytimer);
            }

            if (isAuth == true) {
                clearInterval(mytimer);
            }

            if (sec == 0) {
                sec = 60;
                $("#timer").text(Math.floor(min) + " : 00");
            }

            if (sec == 0 && min == 0) {
                clearInterval(mytimer);
            }
        }

        function checkAuthFunc() {

            if (time == 0) {
                alert("유효시간이 만료되었습니다.\n재전송 버튼을 눌러주세요.");
                return;
            }

            const email = document.getElementById("email").value;
            const authCode = document.getElementById("authCode").value;

            const data = {
                email: email,
                authCode : authCode
            };

            $.ajax({
                type: "post",
                url: "/mail/checkAuth",
                contentType: "application/json; charset=UTF-8",
                data: JSON.stringify(data),
                success: function (res) {

                    console.log("res : " + res);

                    if(res == true) {
                        isAuth = true;
                        $("#isRight").hidden = true;
                    } else {
                        $("#isRight").hidden = false;
                    }

                    if(isAuth == true && isDuplicate == false) {
                        document.getElementById("signup").disabled = false;
                        document.getElementById("signup").hidden = false;
                    }
                }
            });
        }

    </script>

</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .form-control {
            heigth: 30px;
            font-size: 15px;
            margin-left: 100px;
        }

        .checkDuplicate {
            margin-top: 10px;
            margin-left: 100px;
        }

        span {
            margin-top: 10px;
            margin-left: 100px;
        }

        label {
            margin-top: 10px;
            margin-left: 100px;
        }

        .showPass {
            margin-left: 100px;
        }

        .fieldError {
            margin-left: 100px;
            color: red;
        }
    </style>
</th:block>

<div layout:fragment="content">

    <div class="py-5 text-center">
        <h2>회원가입</h2>
    </div>

    <form action="/member/signup" role="form" method="post" th:object="${member}">
        <div class="form-group">
            <label th:for="email">이메일</label>
            <input type="email" th:field="*{email}" class="form-control" placeholder="이메일을 입력해주세요" style="width: 300px" onchange="changeEmail()">
            <button type="button" id="checkDuplicate" class="checkDuplicate" aria-label="checkDuplicate" onclick="checkDuplicated()">중복확인
            </button>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">이메일</p>
            <span id="isDuplicated" class="isDuplicated" style="display: none"></span>
        </div>
        <div class="form-group">
            <label th:for="password">비밀번호</label>
            <input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호" style="width: 300px">
            <input type="checkbox" id="showPassword" class="showPass"> 비밀번호 표시
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError">비밀번호</p>
        </div>
        <div class="form-group">
            <label th:for="passwordConfirm">비밀번호 확인</label>
            <input type="password" th:field="*{passwordConfirm}" class="form-control" placeholder="비밀번호 확인" style="width: 300px" onchange="confirmPassword()">
            <input type="checkbox" id="showPasswordConfirm" class="showPass"> 비밀번호 표시
            <p th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="fieldError">비밀번호 확인</p>
            <span id="anotherPassword" class="isDuplicated" style="display: none"></span>
        </div>
        <div class="form-group">
            <label th:for="name">이름</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="이름" style="width: 100px">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">이름</p>
        </div>
        <div class="form-group">
            <label th:for="phoneNumber">전화번호</label>
            <input type="text" th:field="*{phoneNumber}" class="form-control" placeholder="전화번호" style="width: 300px">
            <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="fieldError">전화번호</p>
        </div>
        <div class="form-group">
            <label th:for="zipCode">우편번호</label>
            <input type="button" onclick="findAddress()" value="우편번호 찾기">
            <input type="text" th:field="*{zipCode}" class="form-control" placeholder="우편번호" style="width: 100px" readonly>
        </div>
        <div class="form-group">
            <label th:for="address">주소</label>
            <input type="text" th:field="*{address}" class="form-control" placeholder="도로명 주소" style="width: 1000px" readonly>
        </div>
        <div class="form-group">
            <label th:for="detailAddress">상세주소</label>
            <input type="text" th:field="*{detailAddress}" class="form-control" placeholder="상세주소" style="width: 1000px">
        </div>
        <div style="text-align: center">
            <button type="button" id="auth" class="btn btn-primary" onclick="sendAuth()" disabled>인증번호 전송</button>
            <div style="text-align: center; display: none" id="authDiv">
                <p>
                    남은시간 <label id="timer" type="text" value="" readonly/>
                </p>
                <input type="text" th:field="*{authCode}" class="form-control" placeholder="인증번호"
                       style="width: 300px; margin-left: auto; margin-right: auto; display: inline-block; text-align: center">
                <p>
                    <input type="button" id="resendButton" value="재전송" style="margin-right: 5px; margin-top: 10px" onclick="reSend()">
                    <input type="button" id="checkAuth" value="확인" style="margin-top: 10px" onclick="checkAuthFunc()">
                    <span id="isRight" class="isRight" style="display: none">잘못된 인증번호입니다.</span>
                </p>
            </div>
        </div>
        <div style="text-align: center">
            <button type="submit" id="signup" class="btn btn-primary" disabled hidden>회원가입</button>
        </div>
    </form>

</div>

</html>