<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">

        $(document).ready(function() {

            let check = "[[${session.check}]]";

            if(check == "Y") {
                $("#isDuplicated").text("사용 가능한 이메일입니다.");
                document.getElementById("signup").disabled = false;
                $("#isDuplicated").css("display", "block");
            } else {
                $("#isDuplicated").css("display", "none");
                document.getElementById("signup").disabled = true;
            }
        })

        function changeEmail() {
            $("#isDuplicated").css("display", "none");
            document.getElementById("signup").disabled = true;
        }

        function checkDuplicated() {
            // const email = $("#email").val();
            const email = document.getElementById("email").value;
            const data = {
                email : email
            };

            $.ajax({
                type : "post",
                async : false,
                url : "/member/checkEmail",
                contentType : "application/x-www-form-urlencoded; charset=UTF-8",
                data : data,
                success : function (res) {

                    if(res == true) {
                        $("#isDuplicated").text("이메일 중복입니다. 다른 이메일을 사용해주세요.");
                    } else {
                        $("#isDuplicated").text("사용 가능한 이메일입니다.");
                        document.getElementById("signup").disabled = false;
                    }
                    $("#isDuplicated").css("display", "block");
                }
            });
        }

    </script>

</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .form-control {
            heigth : 30px;
            font-size: 15px;
            margin-left: 100px;
        }

        .checkDuplicate {
            margin-top: 10px;
            margin-left: 100px;
        }

        .isDuplicated {
            margin-top: 10px;
            margin-left: 100px;
        }

        label {
            margin-top: 10px;
            margin-left: 100px;
        }

        .fieldError {
            margin-left: 100px;
            color: red;
        }
    </style>
</th:block>

<div layout:fragment="content">

    <div class="py-5 text-center">
        <h2>회원가입</h2>
    </div>

    <form action="/member/signup" role="form" method="post" th:object="${member}">
        <div class="form-group">
            <label th:for="email">이메일</label>
            <input type="email" th:field="*{email}" class="form-control" placeholder="이메일을 입력해주세요" style="width: 300px" onchange="">
            <button type="button" id="checkDuplicate" class="checkDuplicate" aria-label="checkDuplicate" onclick="checkDuplicated()">중복확인</button>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">이메일</p>
                <span id="isDuplicated" class="isDuplicated" style="display: none"></span>
        </div>
        <div class="form-group">
            <label th:for="password">비밀번호</label>
            <input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호" style="width: 300px">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError">비밀번호</p>
        </div>
        <div class="form-group">
            <label th:for="passwordConfirm">비밀번호 확인</label>
            <input type="password" th:field="*{passwordConfirm}" class="form-control" placeholder="비밀번호 확인" style="width: 300px">
            <p th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="fieldError">비밀번호 확인</p>
        </div>
        <div class="form-group">
            <label th:for="name">이름</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="이름" style="width: 100px">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">이름</p>
        </div>
        <div class="form-group">
            <label th:for="phoneNumber">전화번호</label>
            <input type="text" th:field="*{phoneNumber}" class="form-control" placeholder="전화번호" style="width: 300px">
            <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="fieldError">전화번호</p>
        </div>
        <div class="form-group">
            <label th:for="address">주소</label>
            <input type="text" th:field="*{address}" class="form-control" placeholder="주소" style="width: 1000px">
        </div>
        <div class="form-group">
            <label th:for="zipCode">우편번호</label>
            <input type="text" th:field="*{zipCode}" class="form-control" placeholder="우편번호" style="width: 100px">
        </div>
        <div style="text-align: center">
            <button type="submit" id="signup" class="btn btn-primary" disabled>회원가입</button>
        </div>
    </form>

</div>

</html>