<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<div th:fragment="header">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">홈</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="/admin/item/register" sec:authorize="hasAuthority('ADMIN')">상품 등록</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="" sec:authorize="hasAuthority('ADMIN')">주문 현황</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/item/list">상품</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/cart/cart-list" sec:authorize="hasAuthority('USER')">장바구니</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/member/info" sec:authorize="isAuthenticated()">회원정보 및 수정</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/member/editPw" sec:authorize="isAuthenticated()">비밀번호 변경</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/member/login" sec:authorize="isAnonymous()">로그인</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/logout" sec:authorize="isAuthenticated()">로그아웃</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

</html>