<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script>

        function reSend() {

        }

    </script>

</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .form-control {
            heigth : 30px;
            font-size: 15px;
            margin-left: 100px;
        }

        span {
            margin-top: 10px;
            margin-left: 100px;
        }

        label {
            margin-top: 10px;
            margin-left: 100px;
        }

    </style>
</th:block>

<div layout:fragment="content">

    <div class="py-5 text-center">
        <h2>이메일 인증</h2>
    </div>

    <form action="/mail/auth" role="form" method="post" th:object="${dto}">
        <div class="form-group">
            <input type="email" th:field="*{email}" class="form-control" placeholder="이메일" style="width: 300px" hidden>
            <label th:for="authKey">인증번호</label>
            <input type="text" th:field="*{authKey}" class="form-control" placeholder="인증번호" style="width: 300px">
            <button type="button" id="reSend" class="reSend" aria-label="reSend" onclick="reSend()" style="margin-left: 100px; margin-top: 10px">다시 보내기</button>
            <span id="isCorrect" class="isCorrect" style="display: none"></span>
        </div>
        <div style="text-align: center">
            <button type="submit" id="signup" class="btn btn-primary">인증 완료</button>
        </div>
    </form>

</div>

</html>